@font-face {
    font-family: "Product Sans";
    src: url("/product-sans.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Product Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    top: 50%;
}